<!DOCTYPE html>
<html>
  <head>
    <title>Safewalk</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  <body>
    <iframe width='100%' height='500px' frameBorder='2' src='https://a.tiles.mapbox.com/v4/bstil22.lbjipgjk/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiYnN0aWwyMiIsImEiOiJVNGFPTjcwIn0.0ZO7u3rXDq2sZB9N7PseXQ'></iframe>
    <%= yield %>
  </body>
</html>
